* {
    margin: 0;
    padding: 0;
}

html {
  font-size: 15px;
  background-color: white;
  line-height: 2;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}
  
#header-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  margin-top: 3em;
  margin-bottom: 3em;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  text-align: center;
  align-items: center;
}
  
#header-grid a {
  cursor: pointer;
  text-decoration: none;
  color: rgb(199, 36, 36);
}
  
#header-grid a:hover {
  cursor: pointer;
  color: rgb(114, 124, 114);
  text-decoration: underline;
  font-size: 1.2em;
}
  
.header-image {
  height: 50%;
  width: 50%;
  object-fit: cover;
}

.navigation-bar {
  width: 100%;
  background-color: rgb(199, 36, 36);
  overflow: auto;
}
  
.navigation-bar a {
  float: left;
  padding: 1em;
  color: white;
  text-decoration: none;
  font-size: 1em;
}
  
.navigation-bar a:hover {
  background-color: #538d22;
}

.nav-active {
  background-color: darkred;
}

#intro-grid {
  display: grid;    
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  max-width: 100%;    
  margin: 0;
  column-gap: 3em;
  row-gap: 3em;
  text-align: justify;
  align-content: center;
  padding: 3em;
  font-size: 1em;
}

.intro-image {
  height: 40vh;
  width: 75vw;
  object-fit: cover;
  border-radius: 10%;
  box-shadow: 0 0 1px 1px #538d22;
}

.intro-image:hover {
  cursor: pointer;
  border: 1px solid darkred;
}

.intro-item a {
  color: #538d22;
  text-decoration: none;
}

.intro-item a:hover {
  color: darkred;
  text-decoration: underline;
  font-size: 1.2em;
}  

#menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  max-width: 95%;
  margin: 0;
  row-gap: 1em;
  text-align: center;
  align-content: center;
  padding: 2em;
  font-size: 1em;
}

.menu-item {
  position: relative;
}

.menu-item:hover {
  box-shadow: 2px 2px 2px 2px #538d22;
  opacity: 5;
  border-radius: 20px;
}

.menu-item:hover > .menu-description {
  opacity: 5;
  box-shadow: 2px 2px 2px 2px #538d22;
  top: 4em;
  border-radius: 5px;
}

.menu-image {
  height: 50vh;
  width: 70vw;
  object-fit: cover;
  text-align: center;
  border-radius: 10px;
}

.menu-item a {
  color: #538d22;
  text-decoration: none;
}

.menu-item a:hover {
  color: darkred;
  text-decoration: underline;
}

.menu-item:hover > .menu-image {
  opacity: 5;
  box-shadow: 2px 2px 2px 2px #538d22;
  top: 1em;
  border: 1px solid #538d22;
}

.menu-description {
  text-align: justify;
  align-content: center;
  opacity: 0;
  padding: 1em;
  position: absolute;
  z-index: 1;
  background-color: white;
  top: 1em;
  font-size: 1em;
}

#order-grid {
  display: grid;    
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  max-width: 100%;    
  margin: 0;
  column-gap: 3em;
  row-gap: 3em;
  text-align: justify;
  align-content: center;
  padding: 3em;
  font-size: 1em;
}

.order-image {
  height: 40vh;
  width: 75vw;
  object-fit: cover;
  border-radius: 10%;
  box-shadow: 0 0 1px 1px #538d22;
}

.order-image:hover {
  cursor: pointer;
  border: 1px solid darkred;
}

.order-item a {
  color: #538d22;
  text-decoration: none;
}

.order-item a:hover {
  color: darkred;
  text-decoration: underline;
  font-size: 1.2em;
}  

#contact-grid {
  display: grid;    
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  max-width: 100%;    
  margin: 0;
  column-gap: 3em;
  row-gap: 3em;
  text-align: justify;
  align-content: center;
  padding: 3em;
  font-size: 1em;
}

.contact-image {
  height: 40vh;
  width: 75vw;
  object-fit: cover;
  border-radius: 10%;
  box-shadow: 0 0 1px 1px #538d22;
}

.contact-image:hover {
  cursor: pointer;
  border: 1px solid darkred;
}

.contact-item a {
  color: #538d22;
  text-decoration: none;
}

.contact-item a:hover {
  color: darkred;
  text-decoration: underline;
  font-size: 1.2em;
}  

.contact-item iframe {
  height: 30vh;
  width: 100%;
  border-radius: 10%;
  box-shadow: 0 0 1px 1px #538d22;
}

.contact-item iframe:hover {
  box-shadow: 0 0 1px 1px darkred;
  cursor: pointer;
}

#footer-grid {
  display: grid;
  min-height: 10em;
  max-width: 100%;
  margin: 0;
  padding: 1em;
  font-size: 1em;
  background-color: #538d22;
}
  
.footer-item ul {
  list-style-type: none;
}
  
.footer-item li a {
  display: block;
  color: white;
  padding: 0.5em;
  text-decoration: none;
}
  
.footer-item li {
  text-align: center;
}
  
.footer-item li a:hover {
  background-color: darkred;
  color: white;
  text-decoration: underline;
}

@media (min-width: 481px) and (max-width: 1024px) {
  
  .header-image {
    height: 50%;
    width: 50%;
    object-fit: cover;
  }

  .intro-image {
    height: 30vh;
    width: 40vw;
    object-fit: cover;
    border-radius: 10%;
    box-shadow: 0 0 1px 1px #538d22;
  }

  .menu-image {
    height: 30vh;
    width: 40vw;
    object-fit: cover;
    text-align: center;
    border-radius: 10px;
  }

  .order-image {
    height: 30vh;
    width: 40vw;
    object-fit: cover;
    border-radius: 10%;
    box-shadow: 0 0 1px 1px #538d22;
  }

  .contact-image {
    height: 30vh;
    width: 40vw;
    padding: 0;
    object-fit: cover;
    border-radius: 10%;
    box-shadow: 0 0 1px 1px #538d22;
  }

  .contact-item iframe {
    height: 30vh;
    width: 100%;
    border-radius: 10%;
    box-shadow: 0 0 1px 1px #538d22;
  }

  #intro-grid {

    p {
      font-size: 1.1em;
    }
    
  }

  #menu-grid {

    p {
      font-size: 1.1em;
    }
    
  }

  #order-grid {

    p {
      font-size: 1.1em;
    }
    
  }

  #contact-grid {

    p {
      font-size: 1.1em;
    }
    
  }

}

@media (min-width: 480px) and (orientation: landscape) {

  .menu-image {
    height: 30vh;
    width: 30vw;
    object-fit: cover;
    text-align: center;
    border-radius: 10px;
  }
  
}

@media (min-width: 1025px) {  
  

}