* {
    margin: 0;
    padding: 0;
}

html {
  font-size: 15px;
  line-height: 2;
  background-color: white;
  background: url(/images/b009.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h1, h2, h3, h4 {
  font-family: Verdana, Tahoma, sans-serif;
  font-weight: bolder;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

  .mobile-Display {
    display: inline;
  }

  .not-mobile-Display {
    display: none;
  }
}

#header-grid {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  max-width: 100%;
  margin-top: 3em;
  margin-bottom: 3em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-items: center;
  color: #C52C2A;
}
  
#header-grid a {
  text-decoration: none;
  color: #C52C2A;
  font-family: Verdana, Tahoma, sans-serif;
}
  
#header-grid a:hover {
  text-decoration: underline;
  color: #C52C2A;
  font-family: Verdana, Tahoma, sans-serif;
  cursor: pointer;
}
  
.header-image {
  height: 50%;
  width: 50%;
  object-fit: cover;
}

.navigation-bar {
  width: 100%;
  background-color: #C52C2A;
  overflow: hidden;
  font-size: 1em;
}
  
.navigation-bar a {
  float: left;
  color: white;
  text-decoration: none;
  padding: 9px 3vw;
  font-family: Verdana, Tahoma, sans-serif;
}
  
.navigation-bar a:hover {
  background-color: tomato;
  font-family: Verdana, Tahoma, sans-serif;
  cursor: pointer;
}

.nav-active {
  background-color: rgb(156, 33, 33);
  font-weight: bolder;
}

#intro-grid {
  display: grid;    
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  max-width: 100%;    
  column-gap: 3em;
  row-gap: 3em;
  text-align: justify;
  align-content: center;
  padding: 3em;
  font-size: 1.1em;
}

.intro-image {
  height: 50vh;
  width: 75vw;
  object-fit: cover;
  border-radius: 5%;
  border: 1px solid silver;
}

.intro-image:hover {
  cursor: pointer;
  border: 1px solid gray;
}

.intro-item a {
  color: tomato;
  text-decoration: none;
  font-family: Verdana, Tahoma, sans-serif;
}

.intro-item a:hover {
  color: darkred;
  text-decoration: underline;
  font-family: Verdana, Tahoma, sans-serif;
  cursor: pointer;
}  

#menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  max-width: 100%;
  column-gap: 1em;
  row-gap: 2em;
  text-align: center;
  align-content: center;
  padding: 2em;
  font-size: 1em;
}

.menu-item {
  position: relative;
  border: 1px solid silver;
  border-radius: 20px;
  background-color: white;
}

.menu-item:hover {
  box-shadow: 1px 1px 1px 1px silver;
  opacity: 5;
  border-radius: 20px;
  cursor: pointer;
}

.menu-item:hover > .menu-description {
  opacity: 5;
  box-shadow: 1px 1px 1px 1px silver;
  border-radius: 5px;
  top: 2em;
  cursor: pointer;
}

.menu-image {
  height: 50vh;
  width: 75vw;
  object-fit: cover;
  text-align: center;
  border-radius: 20px;
}

.menu-item a {
  color: darkred;
  text-decoration: none;
  font-family: Verdana, Tahoma, sans-serif;
}

.menu-item a:hover {
  color: rgb(46, 185, 46);
  text-decoration: underline;
  font-family: Verdana, Tahoma, sans-serif;
  cursor: pointer;
}

.menu-item:hover > .menu-image {
  opacity: 5;
  top: 2em;
}

.menu-description {
  text-align: justify;
  align-content: center;
  opacity: 0;
  padding: 1em;
  position: absolute;
  z-index: 1;
  background-color: white;
  top: 2em;
}

#order-grid {
  display: grid;    
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  max-width: 100%;    
  column-gap: 3em;
  row-gap: 3em;
  text-align: justify;
  align-content: center;
  padding: 3em;
  font-size: 1.1em;
}

.order-image {
  height: 50vh;
  width: 75vw;
  object-fit: cover;
  border-radius: 10%;
  border: 1px solid silver;
}

.order-image:hover {
  cursor: pointer;
  border: 1px solid gray;
}

.order-item a {
  color: tomato;
  text-decoration: none;
  font-family: Verdana, Tahoma, sans-serif;
}

.order-item a:hover {
  color: darkred;
  text-decoration: underline;
  font-family: Verdana, Tahoma, sans-serif;
  cursor: pointer;
}  

#contact-grid {
  display: grid;    
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  max-width: 100%;    
  margin: 0;
  column-gap: 3em;
  row-gap: 3em;
  text-align: justify;
  align-content: center;
  padding: 3em;
  font-size: 1.1em;
}

.contact-image {
  height: 50vh;
  width: 75vw;
  object-fit: cover;
  border-radius: 10%;
}

.contact-image:hover {
  cursor: pointer;
  border: 1px solid gray;
}

.contact-item a {
  color: tomato;
  text-decoration: none;
  font-family: Verdana, Tahoma, sans-serif;
}

.contact-item a:hover {
  color: darkred;
  text-decoration: underline;
  font-family: Verdana, Tahoma, sans-serif;
  cursor: pointer;
}  

.contact-item iframe {
  height: 50vh;
  width: 75vw;
  border-radius: 10%;
  box-shadow: 1px 1px 1px 1px silver;
}

.contact-item iframe:hover {
  box-shadow: 1px 1px 1px 1px gray;
  cursor: pointer;
}

#footer-grid {
  display: grid;
  min-height: 10em;
  max-width: 100%;
  margin: 0;
  padding: 1em;
  background-color: #A41212;
  font-size: 1em;
}
  
.footer-item ul {
  list-style-type: none;
}
  
.footer-item li a {
  display: block;
  color: white;
  padding: 0.5em;
  text-decoration: none;
}
  
.footer-item li {
  text-align: center;
}
  
.footer-item li a:hover {
  background-color: tomato;
  color: white;
  text-decoration: underline;
  font-family: Verdana, Tahoma, sans-serif;
  cursor: pointer;
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {

  .mobile-Display {
    display: none;
  }

  .not-mobile-Display {
    display: inline;
  }

  #header-grid a {
    font-size: 1.2em;
    color: tomato;
  }

  #header-grid a:hover {
    cursor: pointer;
    color: darkred;
    text-decoration: underline;
    font-size: 1.2em;
  }

  .header-image {
    height: 50%;
    width: 50%;
    object-fit: cover;
  }

  .intro-image {
    height: 30vh;
    width: 40vw;
    object-fit: cover;
    border-radius: 10%;
    border-color: 1px solid silver;
  }

  .menu-image {
    height: 30vh;
    width: 40vw;
    object-fit: cover;
    text-align: center;
    border-radius: 10px;
    border-color: 1px solid silver;
  }

  .order-image {
    height: 30vh;
    width: 40vw;
    object-fit: cover;
    border-radius: 10%;
    border-color: 1px solid silver;
  }

  .contact-image {
    height: 30vh;
    width: 40vw;
    padding: 0;
    object-fit: cover;
    border-radius: 10%;
    border-color: 1px solid silver;
  }

  .contact-item iframe {
    height: 40vh;
    width: 100%;
    border-radius: 10%;
    border-color: 1px solid silver;
  }

  #intro-grid {

    p {
      font-size: 1.2em;
    }
    
  }

  #menu-grid {

    p {
      font-size: 1.2em;
    }
    
  }

  #order-grid {

    p {
      font-size: 1.2em;
    }
    
  }

  #contact-grid {

    p {
      font-size: 1.2em;
    }
    
  }

}

@media only screen and (min-width: 480px) and (orientation: landscape) {

  .mobile-Display {
    display: inline;
    font-size: 1.1em;
  }

  .not-mobile-Display {
    display: none;
  }

  .intro-image {
    height: 60vh;
    width: 100%;
    object-fit: cover;
    border-radius: 10%;
    border-color: 1px solid silver;
  }

  .menu-image {
    height: 60vh;
    width: 30vw;
    object-fit: cover;
    text-align: center;
    border-radius: 10px;
  }

  .order-image {
    height: 60vh;
    width: 100%;
    object-fit: cover;
    border-radius: 10%;
    border-color: 1px solid silver;
  }

  .contact-image {
    height: 60vh;
    width: 100%;
    padding: 0;
    object-fit: cover;
    border-radius: 10%;
    border-color: 1px solid silver;
  }

  .contact-item iframe {
    height: 60hv;
    width: 100%;
    border-radius: 10%;
    box-shadow: 1px 1px 1px 1px silver;
    border-color: 1px solid silver;
  }

  .menu-description {
    text-align: justify;
    align-content: center;
    opacity: 0;
    padding: 1em;
    position: absolute;
    z-index: 1;
    background-color: white;
    top: 1em;
    line-height: 1.2;
    border-color: 1px solid silver;
  }

  .menu-item:hover {
    box-shadow: 1px 1px 1px 1px silver;
    opacity: 5;
    border-radius: 20px;
  }
  
  .menu-item:hover > .menu-description {
    opacity: 5;
    box-shadow: 1px 1px 1px 1px silver;
    top: 1.5em;
    border-radius: 5px;
  }
  
}

@media only screen and (min-width: 481px) and (orientation: landscape) {

  .mobile-Display {
    display: none;
  }

  .not-mobile-Display {
    display: inline;
    font-size: 1.3em;
  }

  #intro-grid {
    font-size: 1.2em;
  }

  #order-grid {
    display: grid;    
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    max-width: 100%;    
    margin: 0;
    column-gap: 3em;
    row-gap: 3em;
    text-align: justify;
    align-content: center;
    padding: 3em;
    font-size: 1.2em;
  }

  #contact-grid {
    display: grid;    
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    max-width: 100%;    
    margin: 0;
    column-gap: 3em;
    row-gap: 3em;
    text-align: justify;
    align-content: center;
    padding: 3em;
    font-size: 1.2em;
  }

  .order-image {
    height: 60vh;
    width: 100%;
    object-fit: cover;
    border-radius: 3%;
    border-color: 1px solid silver;
  }

  .contact-image {
    height: 60vh;
    width: 100%;
    padding: 0;
    object-fit: cover;
    border-radius: 3%;
    border-color: 1px solid silver;
  }

  .contact-item iframe {
    height: 80vh;
    width: 100%;
    border-radius: 3%;
    box-shadow: 1px 1px 1px 1px silver;
    border-color: 1px solid silver;
  }

}

@media only screen and (min-width: 1025px) {  

  .mobile-Display {
    display: none;
  }

  .not-mobile-Display {
    display: inline;
    font-size: 1.3em;
  }

  #header-grid a {
    color: tomato;
    font-size: 1.3em;
  }

  #header-grid a:hover {
    cursor: pointer;
    color: darkred;
    text-decoration: underline;
    font-size: 1.3em;
  }
    
  .header-image {
    height: 40%;
    width: 40%;
    object-fit: cover;
  }

  #intro-grid {
    display: grid;    
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    max-width: 100%;    
    margin: 0;
    column-gap: 5em;
    row-gap: 5em;
    text-align: justify;
    align-content: center;
    padding: 2em;
    font-size: 1.3em;
  }
  
  .intro-image {
    height: 60vh;
    width: 40vw;
    object-fit: cover;
    border-radius: 3%;
    border: 1px solid silver;
  }
  
  .intro-image:hover {
    border: 1px solid gray;
    cursor: pointer;
  }
  
  .intro-item a {
    color: tomato;
    text-decoration: none;
  }
  
  .intro-item a:hover {
    color: darkred;
    text-decoration: underline;
  }  

  #menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    max-width: 100%;
    row-gap: 4em;
    column-gap: 4em;
    text-align: center;
    align-content: center;
    padding: 3em;
    font-size: 1.1em;
  }

  .menu-item {
    position: relative;
  }

  .menu-item:hover {
    opacity: 5;
    border-radius: 20px;
  }

  .menu-item:hover > .menu-description {
    opacity: 5;
    top: 3em;
    border-radius: 20px;
  }

  .menu-image {
    height: 50vh;
    width: 100%;
    object-fit: cover;
    text-align: center;
    border-radius: 12px;
  }

  .menu-item a {
    color: darkred;
    text-decoration: none;
  }

  .menu-item a:hover {
    color: rgb(37, 179, 37);
    text-decoration: underline;
  }

  .menu-item:hover > .menu-image {
    opacity: 5;
    top: 1em;
  }

  .menu-description {
    text-align: justify;
    align-content: center;
    opacity: 0;
    padding: 1.6em;
    position: absolute;
    z-index: 1;
    background-color: white;
    top: 1em;
    font-size: 1.1em;
  }

  #order-grid {
    display: grid;    
    grid-template-columns: 48% 48%;
    grid-template-rows: 48% 48%;
    max-width: 100%;    
    margin: 0;
    column-gap: 4em;
    row-gap: 1.5em;
    text-align: justify;
    align-content: center;
    padding: 4em;
    font-size: 1.3em;
  }

  .order-image {
    height: 70vh;
    width: 100%;
    object-fit: cover;
    border-radius: 3%;
    border: 1px solid silver;
  }

  .order-image:hover {
    cursor: pointer;
    border: 1px solid gray;
  }

  .order-item a {
    color: tomato;
    text-decoration: none;
  }

  .order-item a:hover {
    color: darkred;
    text-decoration: underline;
  }  

  #contact-grid {
    display: grid;    
    grid-template-columns: 48% 48%;
    grid-template-rows: 48% 48%;
    max-width: 100%;    
    margin: 0;
    column-gap: 4em;
    row-gap: 3em;
    text-align: justify;
    align-content: center;
    padding: 4em;
    font-size: 1.3em;
  }

  .contact-image {
    height: 70vh;
    width: 100%;
    object-fit: cover;
    border-radius: 3%;
    border-color: 1px solid silver;
  }

  .contact-image:hover {
    cursor: pointer;
    border: 1px solid gray;
  }

  .contact-item a {
    color: tomato;
    text-decoration: none;
  }

  .contact-item a:hover {
    color: darkred;
    text-decoration: underline;
  }  

  .contact-item iframe {
    height: 70vh;
    width: 100%;
    border-radius: 3%;
    border-color: 1px solid silver;
  }

  .contact-item iframe:hover {
    cursor: pointer;
  }

}
