* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 15px;
  background-color: white;
  line-height: 2;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

#header-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  width: 100%;
  margin-top: 3em;
  margin-bottom: 3em;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header-grid a {
  cursor: pointer;
  text-decoration: none;
  color: #c72424;
}

#header-grid a:hover {
  cursor: pointer;
  color: #727c72;
  text-decoration: underline;
  font-size: 1.2em;
}

.header-image {
  height: 50%;
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.navigation-bar {
  width: 100%;
  background-color: #c72424;
  overflow: auto;
}

.navigation-bar a {
  float: left;
  padding: 1em;
  color: white;
  text-decoration: none;
  font-size: 1em;
}

.navigation-bar a:hover {
  background-color: #538d22;
}

.nav-active {
  background-color: darkred;
}

#intro-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  max-width: 100%;
  margin: 0;
  -webkit-column-gap: 3em;
          column-gap: 3em;
  row-gap: 3em;
  text-align: justify;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 3em;
  font-size: 1em;
}

.intro-image {
  height: 40vh;
  width: 75vw;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10%;
  -webkit-box-shadow: 0 0 1px 1px #538d22;
          box-shadow: 0 0 1px 1px #538d22;
}

.intro-image:hover {
  cursor: pointer;
  border: 1px solid darkred;
}

.intro-item a {
  color: #538d22;
  text-decoration: none;
}

.intro-item a:hover {
  color: darkred;
  text-decoration: underline;
  font-size: 1.2em;
}

#menu-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  max-width: 95%;
  margin: 0;
  row-gap: 1em;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 2em;
  font-size: 1em;
}

.menu-item {
  position: relative;
}

.menu-item:hover {
  -webkit-box-shadow: 2px 2px 2px 2px #538d22;
          box-shadow: 2px 2px 2px 2px #538d22;
  opacity: 5;
  border-radius: 20px;
}

.menu-item:hover > .menu-description {
  opacity: 5;
  -webkit-box-shadow: 2px 2px 2px 2px #538d22;
          box-shadow: 2px 2px 2px 2px #538d22;
  top: 4em;
  border-radius: 5px;
}

.menu-image {
  height: 50vh;
  width: 70vw;
  -o-object-fit: cover;
     object-fit: cover;
  text-align: center;
  border-radius: 10px;
}

.menu-item a {
  color: #538d22;
  text-decoration: none;
}

.menu-item a:hover {
  color: darkred;
  text-decoration: underline;
}

.menu-item:hover > .menu-image {
  opacity: 5;
  -webkit-box-shadow: 2px 2px 2px 2px #538d22;
          box-shadow: 2px 2px 2px 2px #538d22;
  top: 1em;
  border: 1px solid #538d22;
}

.menu-description {
  text-align: justify;
  -ms-flex-line-pack: center;
      align-content: center;
  opacity: 0;
  padding: 1em;
  position: absolute;
  z-index: 1;
  background-color: white;
  top: 1em;
  font-size: 1em;
}

#order-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  max-width: 100%;
  margin: 0;
  -webkit-column-gap: 3em;
          column-gap: 3em;
  row-gap: 3em;
  text-align: justify;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 3em;
  font-size: 1em;
}

.order-image {
  height: 40vh;
  width: 75vw;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10%;
  -webkit-box-shadow: 0 0 1px 1px #538d22;
          box-shadow: 0 0 1px 1px #538d22;
}

.order-image:hover {
  cursor: pointer;
  border: 1px solid darkred;
}

.order-item a {
  color: #538d22;
  text-decoration: none;
}

.order-item a:hover {
  color: darkred;
  text-decoration: underline;
  font-size: 1.2em;
}

#contact-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  max-width: 100%;
  margin: 0;
  -webkit-column-gap: 3em;
          column-gap: 3em;
  row-gap: 3em;
  text-align: justify;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 3em;
  font-size: 1em;
}

.contact-image {
  height: 40vh;
  width: 75vw;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10%;
  -webkit-box-shadow: 0 0 1px 1px #538d22;
          box-shadow: 0 0 1px 1px #538d22;
}

.contact-image:hover {
  cursor: pointer;
  border: 1px solid darkred;
}

.contact-item a {
  color: #538d22;
  text-decoration: none;
}

.contact-item a:hover {
  color: darkred;
  text-decoration: underline;
  font-size: 1.2em;
}

.contact-item iframe {
  height: 30vh;
  width: 100%;
  border-radius: 10%;
  -webkit-box-shadow: 0 0 1px 1px #538d22;
          box-shadow: 0 0 1px 1px #538d22;
}

.contact-item iframe:hover {
  -webkit-box-shadow: 0 0 1px 1px darkred;
          box-shadow: 0 0 1px 1px darkred;
  cursor: pointer;
}

#footer-grid {
  display: -ms-grid;
  display: grid;
  min-height: 10em;
  max-width: 100%;
  margin: 0;
  padding: 1em;
  font-size: 1em;
  background-color: #538d22;
}

.footer-item ul {
  list-style-type: none;
}

.footer-item li a {
  display: block;
  color: white;
  padding: 0.5em;
  text-decoration: none;
}

.footer-item li {
  text-align: center;
}

.footer-item li a:hover {
  background-color: darkred;
  color: white;
  text-decoration: underline;
}

@media (min-width: 481px) and (max-width: 1024px) {
  .header-image {
    height: 50%;
    width: 50%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .intro-image {
    height: 30vh;
    width: 40vw;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 10%;
    -webkit-box-shadow: 0 0 1px 1px #538d22;
            box-shadow: 0 0 1px 1px #538d22;
  }
  .menu-image {
    height: 30vh;
    width: 40vw;
    -o-object-fit: cover;
       object-fit: cover;
    text-align: center;
    border-radius: 10px;
  }
  .order-image {
    height: 30vh;
    width: 40vw;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 10%;
    -webkit-box-shadow: 0 0 1px 1px #538d22;
            box-shadow: 0 0 1px 1px #538d22;
  }
  .contact-image {
    height: 30vh;
    width: 40vw;
    padding: 0;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 10%;
    -webkit-box-shadow: 0 0 1px 1px #538d22;
            box-shadow: 0 0 1px 1px #538d22;
  }
  .contact-item iframe {
    height: 30vh;
    width: 100%;
    border-radius: 10%;
    -webkit-box-shadow: 0 0 1px 1px #538d22;
            box-shadow: 0 0 1px 1px #538d22;
  }
  #intro-grid p {
    font-size: 1.1em;
  }
  #menu-grid p {
    font-size: 1.1em;
  }
  #order-grid p {
    font-size: 1.1em;
  }
  #contact-grid p {
    font-size: 1.1em;
  }
}

@media (min-width: 480px) and (orientation: landscape) {
  .menu-image {
    height: 30vh;
    width: 30vw;
    -o-object-fit: cover;
       object-fit: cover;
    text-align: center;
    border-radius: 10px;
  }
}
/*# sourceMappingURL=style.css.map */